* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.logo {
  font-size: 20px;
  color: #fff;

}

.nav {
  margin-left: 40px;
}

.nav__link {
  color: #fff;

}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  background: url(space.png);

}

.hero {
  padding: 50px;
  color: #fff;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__item {
  flex: 1 1 50%;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 30px;
}

.hero__text {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .hero__container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}